body{
    font-family: $font-family;
}

.navbar__botons--white{
    font-family: $font-family-secondary;

}
.navbar__botons--green{
    font-family: $font-family-secondary;

}

.main__variety--numbs{
    font-family: $font-family-secondary;

}

.article_tittle{
    font-family: $font-family-secondary;
}
.section__title{
    font-family: $font-family-secondary;
}