//Colors
$primary-color: #989797;
$secondary-color: #4ca866;
$tertiary-color: #fff;
$accent-color: #000;
$quaternary-color: #BDDFC7;
$text-color:#454545;

// Fuentes
$font-family: "Roboto", sans-serif;
$font-family-secondary: "PT Mono", monospace;
$font-size-small: 9px;
$font-size-large: 30px;
$font-size-base: 50px;

// Grosor de fuentes

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
